.my-search{
	width:100%;
	height:100%;
}
.my-header{
	width:100%;
	height:200px;
	background:#000;
}
.my-section{
	width:100%;
	height:50px;
	background:red;
}
.my-footer{
	width:100%;
	height:1500px;
	background:#0f0;
}
.fiexd{
  position:fixed;
  top:0px;
  left:0px;	
}